{% extends 'template/'~template %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <nav class="tree_product">
        <a href="{{ path("home") }}" class="tree_item">
            <p>Accueil</p>
        </a>
        <a href="{{ path("allBracelet") }}" class="tree_item">
            <p class="bracelet"> / {{ product.category.type }}</p>
        </a>
        <a href="{{ path("allBracelet") }}" class="tree_item">
            <p class=" current bracelet"> / {{ product.name }}</p>
        </a>
    </nav>
    <div class="info_product">
        <div class="img_carrousel">
            <button class="btn_img" onclick="plusDivs(-1)">&#10094;</button>
            <img class="img_product mySlides" src="{{ asset('assets/img/product/'~product.img.img1) }}" alt="produit">
            {% if product.img.img2 %}
                <img class="img_product mySlides" src="{{ asset('assets/img/product/'~product.img.img2) }}" alt="produit">
            {% endif %}
            {% if product.img.img3 %}
                <img class="img_product mySlides" src="{{ asset('assets/img/product/'~product.img.img3) }}" alt="produit">
            {% endif %}
            <button class="btn_img" onclick="plusDivs(+1)">&#10095;</button>
        </div>
        <div class="txt_product">
            <div class="price_name">
                <p>{{ product.name }}</p>
                <p>{{ product.price }} €</p>
            </div>
            <div class="stock">
                {% if product.stock >= 1 %}
                    <p class="vert">En stock</p>
                {% else %}
                    <p class="rouge">Hors Stock</p>
                {% endif %}
            </div>
            <div>
                <div class="detail">
                    <p>Bracelet tisser en perles miyuki coller sur un jonc.</p>
                    <ul>
                        <li>Taille unique</li>
                        <li>Largeur: 2cm</li>
                        <li>Jonc vernis</li>
                    </ul>
                    <p>Tous mes bijoux sont fait à la main, chaque piéces est unique.</p>
                </div>
            </div>

            <button id="myBtn" class="myBtn">Ajouter au panier</button>
        </div>
    </div>
    <div>
        <h2 class="more_title">A voir aussi</h2>
    </div>
    <div class="product_more">
        {% for product in moreProduct%}
            <div class="products_more">
                <a href="{{ path(product.category.type,{'id' : product.id}) }}">
                    <img class="img_more" src="{{ asset('assets/img/product/'~product.img.img1) }}" alt="produit">
                    <p class="name_more">{{ product.name }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Voulez-vous ajouter ce produit au panier?</p>
            <div>
                <button><a href="{{ path('addCart',{'idProduct' : product.id}) }}">Oui</a></button>
                <button id="close">Non</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block newsletter %}
    {% include '_partiels/_newsletter.html.twig' %}
{% endblock %}

{% block script  %}
    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex-1].style.display = "block";
        }
    </script>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        var close = document.getElementById("close")
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        close.onclick = function() {
            modal.style.display = "none";
        }
    </script>
{% endblock %}