{% extends 'template/'~template %}

{% block title %}
    Panier
{% endblock %}

{% block content %}
    <h1 class="title_cart">Panier</h1>
    {% for product in products %}
        <div class="cart_product">
            <img class="img_cart" src="{{ asset('assets/img/product/'~product.img.img1) }}" alt="produit">
            <div class="cart_info">
                <p>{{  product.name }}</p>
                {% if product.stock >= 1 %}
                    <p class="vert">En stock</p>
                {% else %}
                    <p class="rouge">Hors Stock</p>
                {% endif %}
                <p>{{ product.price }} €</p>
            </div>
            <button class="btn_remove">
                <a href="{{ path('removeCart',{'id' : product.id}) }}">retirer du panier</a>
            </button>
        </div>
{% endfor %}

    <p class="delivery_cart"> Frais de port fixe à 5€.</p>
    <p class="total_cart">Total: {{ total }} €</p>

    <button class="btn_commande">
        <a href="{{ path(login==1 ? 'loginCommande' : 'commande' ) }}"> COMMANDER </a>
    </button>

{% endblock %}
