{% extends 'template/baseLog.html.twig' %}

{% block title %}
    Panier
{% endblock %}

{% block content %}
    <h1 class="title_cart">Panier</h1>
    {% for product in products %}
        <div class="cart_product">
            <img class="img_cart" src="{{ asset('assets/img/product/'~product.img.img1) }}" alt="produit">
            <p>{{  product.name }}</p>
            {% if product.stock >= 1 %}
                <p class="vert">En stock</p>
            {% else %}
                <p class="rouge">Hors Stock</p>
            {% endif %}
            <p>{{ product.price }} €</p>
            <a href="{{ path('removeCart',{'id' : product.id}) }}"><button id="removeBtn">retirer du panier</button></a>
            <button class="btn_remove" id="test">retirer du panier</button>
        </div>
    {% endfor %}

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Etes-vous sur de vouloir supprimer l'article?</p>
            <div>
                <button><a href="">Oui</a></button>
                <button id="close">Non</button>
            </div>
        </div>
    </div>
    <p class="delivery_cart">Pour le moment seul la livraison en point relais est disponible. Les frais de port sont donc de 5€.</p>
    <p class="total_cart">Total: {{ total }} €</p>
{% endblock %}

{% block script  %}
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        // Get the button that opens the modal
        var btn = document.getElementById("test");

        var close = document.getElementById("close")
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        close.onclick = function() {
            modal.style.display = "none";
        }
    </script>
{% endblock %}