{% extends 'template/adminBase.html.twig' %}

{% block title %} Ajout image {% endblock %}

{% block content %}
    <h1 class="text-center title_img_add">Ajouter une image</h1>
    {{ form_start(imageForm) }}
        <div class="col">
            {{ form_label(imageForm.img1, 'Image 1') }}
            {{ form_errors(imageForm.img1) }}
            {{ form_widget(imageForm.img1, {'attr': {'class': 'form-group'}}) }}
        </div>
        <div class="col">
            {{ form_label(imageForm.img2, 'Image 2') }}
            {{ form_errors(imageForm.img2) }}
            {{ form_widget(imageForm.img2, {'attr': {'class': 'form-group'}}) }}
        </div>
        <div class="col">
            {{ form_label(imageForm.img3, 'Image 3') }}
            {{ form_errors(imageForm.img3) }}
            {{ form_widget(imageForm.img3, {'attr': {'class': 'form-group'}}) }}
        </div>
        <div class="col">
            {{ form_widget(imageForm.submit) }}
        </div>
    {{ form_end(imageForm) }}
{% endblock %}

